/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'reset';
 @import url('https://fonts.googleapis.com/css?family=Roboto');

 body {
  font-family: 'Roboto', sans-serif;
 }

 .hidden {
   display: none;
 }

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
  background-image: url(http://res.cloudinary.com/dkympkwdz/image/upload/v1496615020/books_ksx4bu.jpg);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  margin: 0 !important;
}

.main {
  height: 100%;
  padding: 50px;

  > * {
    margin: 50px 0;
  }
}

h1 {
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  letter-spacing: 11px;
}

h3 {
  font-size: 21px;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
}

.redish {
  outline: 1px solid #FF5454;
}

#email-input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;

  div {
    position: absolute;
    top: 50px;
    left: 20%;
    background: #FF5454;
    color: white;
    padding: 5px;
  }

  input {
    height: 40px;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 2px;
  }

  input[type="text"] { 
    flex: 2;
    text-align: left;
    border: 1px solid #e2e2e2;
    background: #fff;  
  }

  input[type="submit"] {
    flex: 1;
    background: lightseagreen;
    color: #fff;
    text-align: center;
  }
}

.form-success {
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: 40px;
  background: lightseagreen;
  color: white;
  line-height: 40px;
}

p {
  font-size: 15px;
  color: #444;
  text-align: center;

  strong {
    font-weight: bold;
    font-size: 18px;
  }
}